.button {
  font-family: "Monserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: auto;
  font-weight: 700;
  color: $white;
  background-color: $salmon-pink;
  text-transform: uppercase;
  padding: 30px 40px 30px 40px;
  border: none;
  letter-spacing: 2px;
  width: 340px;
  cursor: pointer;

  &:hover {
    background-color: $salmon-orange;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 19px 40px 19px 40px;
    font-size: 10px;
    font-weight: 500;
    width: 250px;
  }

  &--buy-tour {
    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      width: 100%;
    }
  }
}
