.button {
  font-family: "Monserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: auto;
  font-weight: 700;
  color: $white;
  background-color: $salmon-pink;
  text-transform: uppercase;
  padding: 30px 40px 30px 40px;
  border: none;
  letter-spacing: 2px;
  width: 340px;

  &:hover {
    background-color: $salmon-orange;
  }

  /*
  &:active {
    //background-color: yellow;
    color: rgba(29, 46, 91, 0.302);
  }
  */

  @media (max-width: $tablet-width) {
    padding: 19px 40px 19px 40px;
    font-size: 10px;
    font-weight: 500;
    width: 250px;
  }
}

/*
.button__icon {
  //margin-right: 40px;
}
*/
