
.card {
  //display: flex;
  flex-wrap: wrap;
  position: relative;
  display: none;

  &--active {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $tablet-width) {
    position: offset-position;
  }
}

.card__description {
  width: 470px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.card__title {
  font-size: 55px;
  font-weight: 600;
  line-height: 90px;
  margin: 0;
  position: relative;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2.92px;
    width: 175px;
    background-color: $salmon-pink;
    left: 0;
    top: 100px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
  }
}

.card__about {
  padding-right: 60px;
  opacity: 0.7;
  letter-spacing: 0.47px;
  line-height: 28px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    //width: 100%;
    min-width: 726px;
    //padding-right: 13px;
    //padding-left: 13px;
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
    //width: 100%;
    //width: 320px;
    min-width: auto;
  }
}

.card__review {
  padding: 30px;
  padding-right: 0;
  background-color: $white;
  width: 382px;
  top: 114px;
  right: 0;
  position: absolute;

  @media (max-width: $tablet-width) {
    //max-width: 100%;
    top: unset;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    bottom: -50px;
    padding: 20px;
  }
}

.card__review-title {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.69px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.73px;
    width: 68px;
    background-color: $salmon-pink;
    left: 0;
    top: 40px;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    text-align: center;
  }
}

.card__review-author {
  margin-right: 15.81px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.card__author-name {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.card__review-text {
  //padding-left: 30px;
  opacity: 0.7;
  letter-spacing: 0.41px;
  line-height: 28px;
  font-size: 14px;
  margin-top: 32px;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.card__button {
  @media (max-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

/*
.countries__card-img {
  @media (max-width: $tablet-width) {
    position: relative;
  }
}
*/
