
.card {
  flex-wrap: wrap;
  position: relative;
  display: none;

  &--active {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    position: offset-position;
    justify-content: center;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    justify-content: center;
  }
}

.card__description {
  //width: 470px;

  @media (min-width: 1024px) and (max-width: 1199px) {
    width: 380px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 50px;
  }
}

.card__title {
  font-size: 55px;
  font-weight: 600;
  line-height: 90px;
  margin: 0;
  position: relative;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2.92px;
    width: 175px;
    background-color: $salmon-pink;
    left: 0;
    top: 100px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      display: none;
    }

    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      display: none;
    }
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    line-height: unset;
    margin-top: 24px;
  }
}

.card__about {
  padding-right: 60px;
  opacity: 0.7;
  letter-spacing: -0.47px;
  line-height: 28px;
  margin-bottom: 50px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    //min-width: 726px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
    margin-bottom: 20px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    //padding-left: 16px;
    //padding-right: 16px;
    min-width: auto;
    text-align: center;
    padding-right: unset;
  }
}

.card__review {
  padding: 30px;
  padding-right: 0;
  background-color: $white;
  width: 382px;
  top: 114px;
  right: 0;
  position: absolute;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    top: unset;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    //width: 268px;
    width: 100%;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    top: unset;
  }
}

.card__review-title {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.69px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.73px;
    width: 68px;
    background-color: $salmon-pink;
    left: 0;
    top: 40px;

    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
}

.card__review-author {
  margin-right: 15.81px;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    margin-bottom: 10px;
  }
}

.card__author-name {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.card__review-text {
  opacity: 0.7;
  letter-spacing: -0.41px;
  line-height: 28px;
  font-size: 14px;
  margin-top: 32px;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    text-align: center;
  }
}

.card__button {
  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.card__img {
  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
    height: 415px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    width: 100%;
    margin: 0 auto;
    height: 415px;
  }
}
