.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    flex-wrap: wrap;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.footer-menu__country-list-wrapper {
  display: flex;
  width: 395px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    width: auto;
  }
}

.footer-menu__item {
  width: 390px;
  border-right: 1px solid $color-line;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    border-right: none;
    //width: 296px;
    text-align: center;
  }

  &--next-travels {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: 395px;
      border: none;
    }

    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      //max-width: 296px;
      width: 100%;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    padding-left: 90px;

    @media (min-width: 1024px) and (max-width: 1700px) {
      padding-left: 50px;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: 331px;
      border: none;
      padding-left: 50px;
    }

    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      padding-left: 0;
      //width: 296px;
      width: auto;
    }
  }

  &--corporative {
    padding-left: 49px;
    border-right: none;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: 100%;
      padding-left: 0;
      text-align: center;
      border-top: 1px solid $color-line;
      padding-top: 30px;
    }

    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      padding-left: 0;
      //width: 296px;
      width: auto;
    }
  }
}

.footer-menu__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    //width: 296px;
    width: auto;
  }
}

.footer-menu__country-list {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 165px;
  list-style: none;
  min-width: 131px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    height: 180px;
    min-width: 125px;
  }

  &:last-child {
    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      margin: 0 auto;
    }
  }
}

.footer-menu__country-item {
  margin-bottom: 10px;
}

.footer-menu__country-link,
.footer-menu__paragraph {
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
  opacity: 50%;
}

.footer-menu__paragraph {
  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    //width: 296px;
    margin: 0 auto;
    margin-bottom: 0;
    width: 100%;
  }
}

.footer-menu__link {
  color: $salmon-pink;
  padding-left: 30px;
  margin-bottom: 19px;

  &--mail {
    font-size: 14px;
    line-height: auto;
    font-weight: 400;
    position: relative;

    &::before {
      content: url("../img/mail.svg");
      position: absolute;
      top: 0;
      display: block;
      left: 0;
    }
  }

  &--phone {
    font-size: 16px;
    line-height: 32px;
    position: relative;

    &::before {
      content: url("../img/footer-phone.svg");
      position: absolute;
      top: 0;
      display: block;
      left: 0;
    }
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    margin: 0 auto;
  }
}

.footer-menu__span {
  display: none;

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    display: block;
  }

  &--email {
    display: block;

    @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
      display: none;
    }
  }
}
