.form {
  padding: 50px 49px 49px 50px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px 0 rgba(00, 11, 11, 0.1);

  @media (max-width: $mobile-width) {
    padding: 0;
    background-color: $light;
    box-shadow: none;
    //width: 320px;
    width: auto;
  }

  &--tour {
    padding: 72px 61px 89px 61px;
    min-height: 444px;
    width: 390px;
    margin-left: auto;
    position: relative;

    @media (max-width: $mobile-width) {
      width: 320px;
    }

    .form__input-container {
      flex-wrap: wrap;
    }

    .form__input {
      margin-bottom: 20px;
    }

    .form__button {
      width: 176px;
    }

    .form__close {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

.form__input-container {
  display: flex;
  text-align: center;
  margin-top: 24px;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
  }
}

.form__input {
  min-width: 269px;
  padding: 16px 5px 15px 5px;
  border: 1px solid rgba(20, 21, 23, 0.3);

  &:focus,
  &:hover {
    border: 1px solid rgba(20, 21, 23, 0.3);
  }

  /*
  &:invalid {
    border: 1px solid $salmon-pink;
  }
  */
  &:valid {
    border: 1px solid rgba(20, 21, 23, 0.3);
  }

  &::placeholder {
    font-size: 14px;
    position: relative;
    padding: 16px 15px 15px 15px;

    &::before {
      content: "*";
      color: $salmon-pink;
      display: block;
      position: absolute;
      top: 0;
      left: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.form__button {
  padding: 18px 39px 17px 40px;
  margin: 0 auto;
  display: block;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form__close {
  border: none;
  background-color: transparent;
}

.form__title,
.form__paragraph {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

.form__title {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}

.form__paragraph {
  line-height: 24px;
}
