.intro {
  height: 860px;
  background-image: url("../img/header-greece-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $light-blue;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-greece-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/header-greece-tablet@1x.jpg");
    background-size: 1023px 344px;
    background-position: top center;
    max-height: 344px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-greece-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-color: $white;
    background-image: url("../img/header-greece-mobile@1x.jpg");
    background-size: 100% 100%;
    max-height: 235px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-greece-mobile@2x.jpg");
    }
  }
}

.intro__content {
  width: 412px;
  padding-top: 185px;
  margin-left: 1075px;

  @media (max-width: $tablet-width) {
    width: 398px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    padding: 81px 16px 108px 16px;
  }
}

.intro__title {
  margin: 0;
  color: $white;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    letter-spacing: 0;
  }
}

.intro__about {
  color: $white;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: 0.47px;
  margin-bottom: 39px;

  @media (max-width: $mobile-width) {
    margin-top: 130px;
    color: $dark;
  }
}

.intro__button {
  background-color: $salmon-pink;
  color: $white;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 376px;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 40px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    min-width: 250px;
    font-size: 10px;
    font-weight: 500;
    padding: 19px 40px;
  }

  @media (max-width: $mobile-width) {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
}
