.page-header {
  width: 100%;
  padding-top: 39px;
  padding-bottom: 38px;
  padding-left: 375px;
  padding-right: 375px;
  background-color: $white;
  //height: 632px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    //padding-top: 18.5px;
    //padding-bottom: 14.5px;
    //max-width: 1023px;
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 21px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    //max-width: 767px;
    padding-left: 16px;
    background-color: green;
  }
}
