.page-wrapper {
  width: 1920px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0 auto;
  }
}
