.page-header {
  width: 100%;
  padding-top: 39px;
  padding-bottom: 38px;
  padding-left: 375px;
  padding-right: 375px;
  background-color: $white;
  //height: 632px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 21px;
  }

  @media (max-width: $mobile-width) {
    //max-width: 767px;
    padding-left: 16px;
    //background-color: green;
    //min-height: 568px;
    align-items: baseline;
  }
}

.page-header__logo {
  margin-right: auto;//623px;

  @media (max-width: $tablet-width) {
    &--hide {
      display: none;
    }

    &--show {
      display: block;
    }
  }
}

.page-header__mobile-menu {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    background-color: $salmon-pink;
    margin-left: auto;
  }

  @media (max-width: $mobile-width) {
    &--nojs {
      display: none;
    }

    &--show {
      display: block;
    }

    &--hide {
      display: none;
    }
  }
}
