.places {
  padding-top: 199px;
  padding-left: 375px;
  padding-right: 375px;
  background-color: $white;

  @media (max-width: $tablet-width) {
    padding: 80px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 300px;
  }
}

.places__title {
  width: 358px;
  color: $dark;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
  }
}

.places__about {
  width: 370px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.47px;
  margin: 0;
  margin-bottom: 56px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 175px;
    padding-right: 175px;
    text-align: center;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.places__choice {
  width: 910px;
  display: flex;
  border-bottom: 1px solid rgba(20, 21, 23, 0.3);
  margin-bottom: 95px;

  @media (max-width: $tablet-width) {
    width: auto;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 33px;
    margin-left: 37px;
    margin-right: 37px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 11px;
  }
}

.places__choice-country {
  margin-right: 99px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;

  &--active {
    color: $salmon-pink;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.places__choice-country-link {
  font-size: 20px;
  line-height: auto;
  font-weight: 500;
  opacity: 30%;

  &:hover {
    color: $salmon-pink;
    opacity: 1;
  }

  &--active {
    color: $salmon-pink;
    opacity: 1;
  }
}
