.places {
  padding-top: 199px;
  //padding-left: 375px;
  padding-left: 19.5%;
  //padding-right: 375px;
  padding-right: 19.5%;
  background-color: $white;

  @media (min-width: 1600px) and (max-width: 1800px) {
    padding-left: 17%;
    padding-right: 17%;
  }

  @media (min-width: 1400px) and (max-width: 1599px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    padding-left: 6%;
    padding-right: 6%;
  }

  @media (min-width: 1024px) and (max-width: 1199px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 80px 0 0 0;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    padding: 0;
    padding-top: 300px;
    //padding-right: 16px;
    //padding-left: 16px;
    padding-bottom: 90px;
  }
}

.places__title {
  //width: 358px;
  color: $dark;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
  }
}

.places__about {
  //width: 370px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.47px;
  margin: 0;
  margin-bottom: 56px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
    padding-left: 175px;
    padding-right: 175px;
    text-align: center;
    margin-bottom: 40px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    text-align: center;
  }
}

.places__choice {
  width: 910px;
  display: flex;
  border-bottom: 1px solid rgba(20, 21, 23, 0.3);
  margin-bottom: 95px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: auto;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 33px;
    margin-left: 37px;
    margin-right: 37px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 11px;
    width: 100%;
    //margin-left: 16px;
    //margin-right: 16px;
  }
}

.places__choice-country {
  margin-right: 99px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 30%;

  &--active {
    color: $salmon-pink;
    opacity: 1;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    margin-right: 0;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    margin-right: unset;
  }
}
