.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;

  &--tour {
    display: none;

    &--show {
      display: flex;
    }

    &--hide {
      display: none;
    }
  }

  &--success {
    display: none;

    &--show {
      display: flex;
    }

    &--hide {
      display: none;
    }
  }
}

.popup__content {
  display: flex;
  align-items: flex-end;
  width: 728px;
  min-height: 444px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $light;

  &--tour {
    background-color: $light-blue;
    background-image: url("../img/popup-tour-desktop@1x.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/popup-tour-desktop@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/popup-tour-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/popup-tour-desktop@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      width: 320px;
      background-image: none;
      display: none;
    }
  }

  &--success {
    padding-left: 150px;
    padding-right: 150px;
    width: 728px;
    height: 444px;
    align-items: center;
    justify-content: center;
    position: relative;

    .popup__title {
      font-size: 25px;
      line-height: 27.2px;
      font-weight: 500;
      text-align: center;
    }

    .popup__button {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &--show {
      display: flex;
    }
  }
}

.popup__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
