.rate {
  display: flex;
  flex-wrap: wrap;

  /*
  &--active {
    border-color: $salmon-pink;

    .rate__title {
      color: $salmon-pink;
    }

    .rate__paragraph {
      border-color: $salmon-pink;
    }

    .rate__option-item {
      position: relative;

      &::before {
        display: block;
        content: url("../img/tick.svg");
        position: absolute;
        top: 5px;
        left: -30px;
      }
    }
  }
  */

  &:hover {
    border-color: $salmon-pink;

    .rate__title {
      color: $salmon-pink;
    }

    .rate__paragraph {
      border-color: $salmon-pink;
    }

    .rate__option-item {
      position: relative;

      &::before {
        display: block;
        content: url("../img/tick.svg");
        position: absolute;
        top: 5px;
        left: -30px;
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1199px) {
    order: 2;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    &--complex,
    &--budget {
      max-width: 288px;
      order: 2;
    }
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    justify-content: center;
    order: 2;
  }
}

.rate__title {
  margin: 0;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    font-size: 24px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 11px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 11px;
  }
}

.rate__paragraph {
  margin: 0;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(20, 21, 23, 0.3);

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    text-align: center;
    //margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.rate__button {
  width: 100%;
}

.rate__option-list {
  margin-top: 30px;
  line-height: 32px;
  padding-left: 30px;
  padding-bottom: 39px;
  list-style: none;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding-left: 50px;
    padding-right: 20px;
  }

  @media /*(min-width: $min-mobile-width) and*/ (max-width: $max-mobile-width) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.rate__option-item {
  margin-bottom: 15px;
  position: relative;

  &::before {
    display: block;
    content: url("../img/tick-active.svg");
    position: absolute;
    top: 5px;
    left: -30px;
  }
}

.rate__amount {
  align-self: end;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding-top: 10px;
    width: 100%;
  }
}
